<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Jaro:opsz@6..72&family=Jersey+25+Charted&family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section id="addemployee">
    <h2>Add employee </h2>
    <form action="" method="post" enctype="multipart/form-data">
    <div class="container">
        <div class="row">
            
            <div class="col-md-1"></div>
            <div class="col-md-5"><input type="text" name="name" id="" class="form-control" placeholder="please Enter your name" required></div>
            <div class="col-md-5"><input type="text" name="city" id="" class="form-control" placeholder="city" required></div>
            <div class="col-md-1"></div>
        </div>
    </div>
    
    <div class="container">
        <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5"><input type="number" name="salary" id="" class="form-control mt-4" placeholder="salary" required></div>
        <div class="col-md-5"><input type="number" name="age" id="" class="form-control mt-4" placeholder="Age" required></div>
    </div></div>
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-6">
                <label for="">Image Upload</label><input type="file" name="Img" id="" class="mt-4">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10"><button type="submit" class="btn btn-primary form-control mt-4">save form</button></div>
            <div class="col-md-1"></div>
        </div>
    </div>
        
        
        
        
        
    </form>
</section>
</body>
</html>