<ul>
    <a href="/addemployee"><li><button class="login-nav-add">Add Employee</button></li></a>
    <a href="/loginpage"><li><button class="login-nav-add">login page</button></li></a>
    <a href="/multipleImage"><li><button class="login-nav-add">multiImage</button></li></a>
    
</ul>